<p>
  <strong>Commenter:</strong> <%= comment.user.email %>
</p>

<p>
  <%= comment.body %>
</p>



<% if user_signed_in? && comment.user_id == current_user.id %>
  <div style="display: inline-flex; gap: 8px;">
    <%= button_to "Edit",
                  edit_post_comment_path(comment.post, comment),
                  method: :get,
                  form: { style: "display:inline" },
                  class: "btn" %>

    <%= button_to "Delete",
                  post_comment_path(comment.post, comment),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  form: { style: "display:inline" },
                  class: "btn btn-danger" %>
  </div>
<% end %>

