<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", post: @comment.post, comment: @comment %>

<br>

<div>
  <%= link_to "Show this comment", [@comment.post, @comment] %> |
  <%= link_to "Back to comments", post_comments_path(@comment.post) %>
</div>
